<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EntityFramework" version="6.0.0" targetFramework="net461" />
  <package id="GMap.NET.Presentation" version="1.7.5" targetFramework="net461" />
  <package id="MahApps.Metro" version="1.5.0" targetFramework="net461" />
  <package id="MahApps.Metro.Resources" version="0.6.1.0" targetFramework="net461" />
  <package id="MaterialDesignColors" version="1.1.2" targetFramework="net461" />
  <package id="MaterialDesignThemes" version="1.5.0.523" targetFramework="net461" />
  <package id="MaterialDesignThemes.MahApps" version="0.0.11" targetFramework="net461" />
  <package id="MySql.Data" version="6.9.10" targetFramework="net461" />
  <package id="MySql.Data.Entity" version="6.9.9" targetFramework="net461" />
  <package id="SolidSoils.Arduino.Client" version="0.4.0" targetFramework="net461" />
</packages>